/******************************************************************
Site Name: MTB
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
}

.pt-page {
	&.video {
		background-image: none;
		
		video {
			display: block;
			position: absolute;
			width: auto;
			height: 100%;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			z-index: 1;
		}
	}
	
	&.title-card {
		&.icons {
			.stats {
				li {
					width: 25%;
				}
			}
		}
		
		&.footer {
			&:last-child {
				&:before {
					background-size: 25%;
				}
			}
		}
	}
	
	&.coherence-2 .photo-panel {
		background-color: #00398e;
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	&.commerciality-2 .photo-panel {
		background-image: url(../images/Mencap-bubbles_alt.gif);
	}
}

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

/*********************
CONTENT STYLES
*********************/

/*********************
FOOTER STYLES
*********************/