/******************************************************************
Site Name: MTB
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

html {
	font-size: 100%;
}

.pt-page {
	&.video {
		background-image: url(../images/more-value-l.gif);
	}
	
	&.title-card {
		h2 {
			font-size: 8rem;
			font-size: 13vh;
			margin-bottom: 8vh;
			
			&:after {
				bottom: -5vh;
			}
		}
		
		p {
			font-size: 2.15rem;
			font-size: 3.7vh;
			margin-bottom: 4vh;
		}
		
		.icon {
			margin: 6vh auto 4vh;
		}
		
		&.more {
			h2 {
				font-size: 27vh;
				line-height: 13vh;
			}
			
			&.icons h2 {
				position: relative;
				margin-bottom: 8vh;
			}
		}
		
		&.icons {
			h2 {
				font-size: 14vh;
				line-height: 9vh;
			}
		}
		
		&.footer {
			p {
				width: 40%;
			}
		}
	}
	
	&.stats-card {
		h2 {
			font-size: 3rem;
			margin: 3rem;

			&:after {
				width: 8rem;
				height: 2px;
			}
		}
		
		h3 {
			font-size: 13vh;
		}
	}
}

.stats {
	li {
		width: 50%;
		margin: 0 0 7vh;
	}
	
	&.logos {
		margin-top: 9vh;
		
		li img {
			width: 10rem;
		}
	}
}

.photo-panel {
	height: 100%;
	background-attachment: fixed;
	
	&.fixed {
		position: absolute;
	}
	
	h2 {
		font-size: 3rem;
		margin: 3rem;
		
		&:after {
			width: 8rem;
			height: 2px;
			bottom: -0.5rem;
		}
	}
}

.yellow-box {
	width: auto;
	min-height: unset;
	left: 3rem;
	bottom: 3rem;
	padding: 1.5rem 2rem;
	
	p {
		font-size: 1.2rem;
	}
	
	.connectivity-2 &, .commerciality-1 &, .coherence-2 & {
		left: auto;
		right: 3rem;
	}
}